@use "./base.scss";

// put your custom CSS here!

.callout {
  &[data-callout="arabic"] {
    --color: none;
    --border: #b39c78;
    --bg: none;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: "Scheherazade New";
    direction: rtl;

    tbody,
    li,
    p {
      line-height: 2.7rem;
    }

    .callout-title {
      display: none;
    }

    & > .callout-content p {
      margin-block-start: 1em;
      margin-block-end: 1em;
    }
  }
}

.callout {
  &[data-callout="poetry"] {
    --color: none;
    --border: #b39c78;
    --bg: none;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: "Quintessential";
    line-height: 1.5rem;

    tbody,
    li,
    p {
      line-height: 2.7rem;
    }

    .callout-title {
      display: none;
    }

    & > .callout-content p {
      margin-block-start: 1em;
      margin-block-end: 1em;
    }
  }
}
